$page-max-width: 1600px;

$page-width: 100%;
$break-mobile: 960px;


@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

$font-family-1: "Audiowide";
$font-family-2: "Open Sans";
$font-family-3: "Oswald";
$font-family-5: "Montserrat";



