.message {
  display: flex;
  flex-flow: row;
  padding: 10px;

  &:hover {
    background: #dddddd;
  }

  .text {
    float: left;
    flex: 1;
  }

  .button {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
}