.message {  
  width: 100%;
  padding: 10px;
  float: left;

  &:hover {
    background: #dddddd;
  }

  .inner {

    display: flex;
    flex-flow: row;

    .text {
      float: left;
      flex: 1;
    }

    .button {
      margin-left: 10px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
  }
